name: Extract and load data

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 1,3"

permissions:
  id-token: write
  contents: read

jobs:
  test-drive:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Cache Playwright browsers
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright

      - name: Install requirements
        run: |
          pip install -r requirements.txt

      - name: Install Playwright browsers
        run: |
          playwright install

      - name: Authenticate to Google Cloud (WIF)
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/834426860635/locations/global/workloadIdentityPools/github-pool/providers/github-actions"
          service_account: "bot-drive-contable@drive-contable.iam.gserviceaccount.com"

      - name: Run load script
        env:
          MAIL_USER: ${{ secrets.MAIL_USER }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          python main.py
